#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
{
"authentication":{
  "blockUnknown": true,
  "class":"solr.BasicAuthPlugin",
  "credentials":{
    "{{ solr_admin_user }}":"{{ solr_admin_pass|solr_basicauth }}",
    {% for c in solr_cores %}
    {% if c.user is defined and c.pass is defined %}
    "{{ c.user }}":"{{ c.pass|solr_basicauth }}",
    {% endif %}
    {% endfor %}
  },
  "realm":"Auth required",
  "forwardCredentials": false
},
"authorization":{
  "class":"solr.RuleBasedAuthorizationPlugin",
  "permissions":[
    {"name":"security-edit", "role":"admin"},
    {% for c in solr_cores %}
    {"name": "admin-{{ c.name }}-collection", "collection": "{{ c.name }}", "role": "collection-admin-edit"},
    {% endfor %}
  ],
  "user-role":{
    "{{ solr_admin_user }}":"admin",
    {% for c in solr_cores %}
    {% if c.user is defined and c.pass is defined %}
    "{{ c.user }}":"admin-{{ c.name }}-collection",
    {% endif %}
    {% endfor %}
  }
}
}
